{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
	<!-- Top Utility Bar -->
<div class="top-bar">
  <!-- Left Section -->
  <div class="left-links">
  {{ page.header }}
  </div>
  <!-- Center Logos -->
  <div class="middle-logs">
  {{ page.center_logos}}
  </div>

  <!-- Right Section -->
  <div class="right-links">
  <a href="#">Sitemap</a> |
  <a href="#main-content">Skip To Main Content</a> |
  <a href="hindi/index.html">हिंदी</a> |

  <!-- Theme Selectors (Inline) -->
  <div class="theme-inline">
    <div class="theme-color blue" data-theme="blue" title="Default Theme"></div>
    <div class="theme-color green" data-theme="green" title="Green Theme"></div>
    <div class="theme-color dark" data-theme="dark" title="Dark Theme"></div>
  </div>
  <div>
    <div class="search_icons_mobile">							
			<div class="nav-item search-btn">
			<a href="javascript:void(0)"><i class="bi bi-search" aria-hidden="true"></i></a>
			</div>
			<div class="searchSection">{{ page.search_section }}</div>
    </div>
  </div>
</div>

</div>



<!-- Logo & Banner Section -->
<div class="logo-bar">
  {{ page.logo }}
 
</div>

<!-- Main Navigation -->
<nav class="main-nav">
  <ul id="nav-list">
    <li><a href="/"><img src="{{ base_path}}themes/sjvn/images/icons/home.svg"> </a></li>
    <li>{{ page.primary_menu }}</li>
  </ul>
</nav>

